body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#step1 form table {
    width: 100%;
    border-collapse: collapse;
}

#step1 form table td {
    padding: 10px;
    border: 1px solid #ccc;
}

#step2 {
    display: none;
}

#step2 .backButton {
    margin-top: 10px;
    display: block;
    text-align: center;
}

#uploadConfirmation {
    margin-top: 20px;
    text-align: center;
    color: green;
}

#searchBox {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchTerm {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#searchResults {
    margin-top: 10px;
}

#searchResults table {
    width: 100%;
    border-collapse: collapse;
}

#searchResults table th, 
#searchResults table td {
    padding: 5px;
    border: 1px solid #ccc;
}
